.allAds {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* align-items: baseline; */
    flex-wrap: wrap;
    padding: 10px 0px;

}
.allAds h2{
    width: 100%;
}

.addCard {
    width: 22%;
    padding: 10px;
    margin: 3px 0px;
    /* background-color: blueviolet; */
    border: 2px solid black;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.imgContainer {
    width: 100%;
    /* padding:8px; */
}

.imgContainer img {
    width: 100%;
}

.addDesc {
    /* background-color: brown; */
    width: 100%;
    /* padding: 8px; */
}

.addCard:hover {
}

@media (max-width: 993px) {
    .addCard {
        width: 28%;
        /* Adjust to fit two cards in a row */
        padding: 8px;
        margin: 5px;
    }
}

/* For tablets and medium-sized screens (768px and below) */
@media (max-width: 768px) {
    .addCard {
        width: 40%;
        /* Adjust to fit two cards in a row */
        padding: 8px;
        margin: 5px;
    }
}

/* For mobile screens (480px and below) */
@media (max-width: 480px) {
    .addCard {
        width: 100%;
        /* Adjust to fit one card in a row */
        padding: 5px;
        margin: 10px auto;
        /* Center the card */
    }
}