/* شريط التنقل الرئيسي */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  font-family: 'Arial', sans-serif;
  position: relative;
  z-index: 1000;
  /* لتنسيق القائمة المنسدلة */

}

/* شعار الشركة */
.navbar_logo {

  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1000;

}

.navbar_logo img {
  width: 50px;
  height: 50px;
  margin-top: -5px;
  /* width: 100%; */
  z-index: 1000;

}

.navbar_logo span {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  z-index: 1000;

}

/* روابط التنقل */
.navbar_links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: -1000;
}

.navbar_links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar_links a:hover {
  color: rgb(28, 155, 37);
}

/* أزرار العمليات */
.navbar_actions {
  display: flex;
  gap: 10px;
}


button {
  padding: 10px 15px;

}

/* ===================== RESPONSIVE DESIGN ===================== */
/* عند الشاشات الصغيرة (أقل من 768px) */
@media (max-width: 768px) {
  .navbar {
    /* flex-direction: column; */
    /* تغيير الاتجاه إلى عمودي */
    align-items: center;
    /* محاذاة العناصر على اليسار */
    justify-content: center;
    position: relative;
  }
  .menu{
    
  }

  .navbar_links {
    display: flex;
    /* إخفاء الروابط افتراضيًا */
    flex-direction: column;
    /* ترتيب الروابط بشكل عمودي */
    gap: 10px;
    /* width: 100%; */
    background-color: white;
    position: absolute;
    top: 100%;
    /* وضع القائمة أسفل الشريط */
    left: 0;
    right: 0;

    padding: 10px 20px;
    border-top: 1px solid #ddd;

    transition: top 0.3s;
  }



  .navbar_actions {
    margin-top: 0;
  }

  .menu_toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* إظهار أيقونة القائمة */
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: 2px solid;
    color: #333;
    padding: 4px 10px !important;

  }
}

.toggle_container {
  padding: 0px 3px;
}

/* عند الشاشات الأكبر من 768px */
@media (min-width: 768px) {
  .menu_toggle {
    display: none;
    /* إخفاء أيقونة القائمة */
  }
}